<div class="row">
    <div class="span1 offset5"><h2>Вход</h2></br></div>
</div>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),
			:html => {class:"form-horizontal"}) do |f| %>

<div class="control-group offset3">
  	
  	<%= f.label :"Почта", class:"control-label", for:"input01"  %>
    <div class="controls"><%= f.email_field :email, :autofocus => true, id:"input01" %></div><br/>

  	<%= f.label :"Пароль",class:"control-label", for:"input02"%>
   	<div class="controls"><%= f.password_field :password, id:"input02" %></div><br />

  	<% if devise_mapping.rememberable? -%>
    	
		<%= f.label :"Запомни меня",class:"control-label", for:"input03"%>
		<div class="controls"><%= f.check_box :remember_me, id:"input03"  %> </div><br />
  	<% end -%>

   	<div class="controls"><%= f.submit "Вход", class:"btn btn-success"%></div>
</div>
<% end %>


