<%= form_for @post, html: {class:"form-horizontal well"} do |f|%>
    <% if @post.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
    this post from being saved:
    </h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
    <% end %>
      <div class="control-group">
      <%= f.hidden_field :user_id, :value => current_user.id %>
      
      <%= f.label :"Тема", class:"control-label", for:"input01"%>
        <div class="controls">
          <%= f.text_field :title, class:"input-xxlarge", id:"input01" %>
        </div>
        <div class="controls">
          <%= f.text_area :text, class:"input-xxlarge", id:"input02", :rows => 10 %>
        </div>
        <div class="controls">
          <%= link_to 'Назад', posts_path, class:"btn btn-inverse"%>
          <%= f.submit "Сохранить", class:"btn btn-danger"%>
        </div>
    </div>
<% end %>


          
            
        
