
<div class="row">
    <div class="span4">    
        <%= image_tag 'brainLeft.jpg', class:"img-circle"%>
    </div>
    <div class="span4">
        <br/><br/><br/>
       <center> <h1><p class="text-info"><em>Мои посты</em></p></h1></center> 
    </div>    
    <div class="span3 offset1 ">
        <%= image_tag 'brainRight.jpg', class:"img-circle pull-right"%>
    </div>
</div>

<div class="row">
        <div class="pagination pagination-mini pagination-centered">
             <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
        </div> 
</div>

<% @posts.each do |post| %>
    <div class="row">
        <div class="span8 offset2">
            <div class="row">
                <div class="row span6">
                    <p><%= link_to  post.title, post_path(post)%></p>
                </div>

                <div class="span2">
                    <div class="btn-group pull-right">
                        <% if can? :manage, post %>
                            <%= link_to 'Редактировать', edit_post_path(post), class:"btn" %>
                        <% end %>

                        <% if can? :manage, post %>
                            <%= link_to 'Удалить', post_path(post),
                            method: :delete, data: { confirm: 'Вы уверины?'}, class:"btn"%>
                        <% end %>
                    </div>   
                </div>
            </div>
            <div class="row">
                <div class="well" style="word-wrap: break-word;">
                    <%= post.text %></br></br>
                    <p class="text-success">
                        Автор:<em> <%= post.user.name%> <%= post.user.surname %></em></p>
                </div>
                <hr/>
            </div>  
        </div>
    </div>
<% end %>
<div class="row">
        <div class="pagination pagination-mini pagination-centered">
             <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
        </div> 
</div>