
<div class="row">
    <div class="well">
        <div class="span9" align="center"><h4>List of posts<h4></div>
    </div>
</div>
<div class="row">
    <div class="span3 offset9"> 
     <%= link_to 'New Post', new_post_path(), class:"btn btn-danger btn-block"  %>
    </div>
</div>

<% @posts.each do |post| %>
    <div class="row">
        <div class="span9">
            <div class="row">
                <div class="row span7">
                        <p>Title: <%= post.title %></p>
                </div>  
                <div class="span2">
                    <div class="btn-group pull-right">
                        <%= link_to 'Edit', edit_post_path(post), class:"btn" %>
                        <%= link_to 'Destroy', post_path(post),
                        method: :delete, data: { confirm: 'Are you sure?'}, class:"btn"%>
                    </div>   
                </div>
            </div>
            <div class="row">
                <div class="well">
                    <%= post.text %>
                    <div class="span1 offset8">
                    <%= link_to 'Show', post_path(post) %>
                    </div>
                </div>
            </div>  
        </div>      
    </div>
<% end %>
