
<div class="row">
 
        <center><h2><p class="text-info"><em>Новые посты</em></p></h2></center> 
</div>
<div class="row">
        <div class="pagination pagination-mini pagination-centered">
             <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
        </div> 
</div>
<% @posts.each do |post| %>
    <div class="row">
        <div class="span8 offset2">
            <div class="row">
                <div class="row span6">
                        <p><%= link_to  post.title, post_path(post)%></p>
                </div>  
                <div class="span2">
                    <div class="btn-group pull-right">
                        <% if can? :read, post %>
                            <%= link_to 'Редактировать', edit_post_path(post), class:"btn" %>
                        <% end %>
                        <%= link_to 'Удалить', post_path(post),
                        method: :delete, data: { confirm: 'Вы уверины?'}, class:"btn"%>
                    </div>   
                </div>
            </div>
            <div class="row">
                <div class="well" style="word-wrap: break-word;">
                    <%= post.text %>
                </div>
                <hr/>
            </div>  
        </div>
    </div>
<% end %>
<div class="row">
        <div class="pagination pagination-mini pagination-centered">
             <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
        </div> 
</div>