<div class="row">
	<div class="span8 offset2">
		<p><h3><em><%= @post.title %></em></h3></p>
		<div class="row">
			<div class="span8 well" style="word-wrap: break-word;">
				<p><%= @post.text %></p>
			</div>
		</div> 
	</div>
</div>	
<div class="row">
	<% if can? :manage, @post %>	
		<div class="span2 offset2 ">
			<%= link_to 'Редактировать', edit_post_path(@post), class:"btn btn-danger"%>
		</div>	
	<% end %>
</div>

<div class="row">
	<div class="span6 offset3">
		</br>
		<%= render @post.comments %>
		
		<%= render "comments/form" %>
	</div>
</div>
