<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <%= link_to 'Starkov', root_path, class:"brand" %>
        <ul class="nav">
          <li> <%= link_to 'Добавить пост', new_post_path()%></li>
        </ul> 
          <ul class="nav pull-right"> 
            <% if user_signed_in? %>
              <li></br>Здравствуйте, <%= current_user.name %> <%= current_user.surname %></li>
              <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li> 
              <li><%= link_to 'Кабинет', edit_user_registration_path, :method => :get %></li>
             <% else %>
              <li><%= link_to 'Войти', new_user_session_path %></li>
              <li><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
            <% end %> 
          </ul>
      </div>
    </div>
		<div class="row">
      <div class="span12">
        <p class="notice"><%= notice %></p>
        <!-- <p class="alert"><%= alert %></p> -->
      </div>
    </div>   
    <div class="row">
      <div class="span6">
        
      </div>
      <div class="span1 offset5">
         
      </div>
    </div>

		<%= yield %>
    
	</div>
</body>
</html>
